{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>culture-clinic</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-content">
            <h3>Cooking in progress..</h3>
            <div id="cooking">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div id="area">
                    <div id="sides">
                        <div id="pan"></div>
                        <div id="handle"></div>
                    </div>
                    <div id="pancake">
                        <div id="pastry"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area bg-img bg-overlay" style="background-image: url(static/img/bg-img/header.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <div class="col-12 col-sm-6">
                        <!-- Top Social Info -->
                        <div class="top-social-info">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
                        <!-- Top Search Area -->
                        <div class="top-search-area">
                            <form action="search" method="get">
                                <input type="search" name="q" id="topSearch" placeholder="Search">
                                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area">
            <a href="/"><h1>Culture Clinic</h1></a>
            <!--<img src="{% static 'img/core-img/logo.png' %}" alt="">-->
        </div>

        <!-- Navbar Area -->
        <div class="bueno-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="buenoNav">

                        <!-- Toggler -->
                        <div id="toggler"></div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="search">Search</a></li>
                                    <li><a href="#">Culture</a>
                                        <ul class="dropdown">
                                            <li><a href="book">book</a></li>
                                            <li><a href="movie">movie</a></li>
                                            <li><a href="single-post.html">travel</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="/community">Community</a></li>
                                    <li><a href="contact.html">About Us</a></li>                       
                                    {% if user.is_authenticated %}
                                        <li><a href = "{% url 'mypage:index' %}">My Library</a></li>
                                    {% endif %}
                                </ul>

                                <!-- Login/Register -->
                                <div class="login-area">
                                        {% if user.is_authenticated %}
                                         Hi {{ user.username }} &nbsp;&nbsp;
                                        <a href="{% url 'logout' %}">Log out</a>
                                        {% else %}
                                        <a href="{% url 'login' %}">Log In </a>&nbsp;&nbsp;
                                        <a href="{% url 'signup' %}">Sign Up</a>

                                        {% endif %}
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Treading Post Area Start ##### -->
    <div class="treading-post-area" id="treadingPost">
        <div class="close-icon">
            <i class="fa fa-times"></i>
        </div>

        <h4>Treading Post</h4>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
                <a href="#" class="post-tag">The Best</a>
                <a href="#" class="post-title">Friend eggs with ham</a>
                <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'img/bg-img/10.jpg' %}" alt="">
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
                <a href="#" class="post-tag">The Best</a>
                <a href="#" class="post-title">Mushrooms with pork chop</a>
                <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'img/bg-img/11.jpg' %}" alt="">
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
                <a href="#" class="post-tag">The Best</a>
                <a href="#" class="post-title">Birthday cake with chocolate</a>
                <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'img/bg-img/9.jpg' %}" alt="">
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
                <a href="#" class="post-tag">The Best</a>
                <a href="#" class="post-title">Friend eggs with ham</a>
                <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'img/bg-img/10.jpg' %}" alt="">
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
                <a href="#" class="post-tag">The Best</a>
                <a href="#" class="post-title">Mushrooms with pork chop</a>
                <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
                <img src="{% static 'img/bg-img/11.jpg' %}" alt="">
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
                <a href="#" class="post-tag">The Best</a>
                <a href="#" class="post-title">Birthday cake with chocolate</a>
                <div class="post-meta">
                    <a href="#" class="post-date">July 11, 2018</a>
                    <a href="#" class="post-author">By Julia Stiles</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Treading Post Area End ##### -->


    <!-- ##### Book Area Start ##### -->
    <div class="post-catagory section-padding-100-0 mb-70">
            <div class="container">
                <div class="hero-area">
                    <div class="hero-post-slides owl-carousel">
                        <!-- Single Slide -->
                        {% for book in object_list %}
                        <div class="single-slide">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{{ book.bImage }}" alt="" style="
                                    width: 466px;
                                    height: 466px;"></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content-bg" style="width: 220px; height: 260px;">
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Today's book</a>
                                    <a href="#" class="post-title"><font size="3px">{{ book.bName }}</font></a>
                                    <div class="post-meta">
                                        <a href="#" class="post-date">{{ book.publication_year }}</a>
                                        <a href="#" class="post-author">{{ book.author }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <!-- ##### Book Area End ##### -->

    <!-- ##### Movie Area Start ##### -->
    <div class="post-catagory section-padding-100-0 mb-70">
            <div class="container">
                <div class="hero-area">
                    <div class="hero-post-slides owl-carousel">
                        <!-- Single Slide -->
                        <div class="single-slide">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="https://movie-phinf.pstatic.net/20190128_284/1548637887932Dwfkj_JPEG/movie_image.jpg" alt="" style="
                                    width: 466px;
                                    height: 466px;"></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content-bg" style="width: 220px; height: 260px;">
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Today's Movie</a>
                                    <a href="#" class="post-title"><font size="3px">사바하</font></a>
                                    <div class="post-meta">
                                        <a href="#" class="post-date">미스터리, 스릴러</a>
                                        <a href="#" class="post-author">이정재, 박정민, 이재인</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-slide">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="https://movie-phinf.pstatic.net/20190116_206/1547615429111dINWj_JPEG/movie_image.jpg" alt="" style="
                                    width: 466px;
                                    height: 466px;"></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content-bg" style="width: 220px; height: 260px;">
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Today's Movie</a>
                                    <a href="#" class="post-title"><font size="3px">극한직업</font></a>
                                    <div class="post-meta">
                                        <a href="#" class="post-date">코미디</a>
                                        <a href="#" class="post-author">류승룡, 이하늬, 진선규</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-slide">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="https://movie-phinf.pstatic.net/20190128_22/1548638810964Go9Wy_JPEG/movie_image.jpg" alt="" style="
                                    width: 466px;
                                    height: 466px;"></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content-bg" style="width: 220px; height: 260px;">
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Today's Movie</a>
                                    <a href="#" class="post-title"><font size="3px">알리타: 배틀엔젤</font></a>
                                    <div class="post-meta">
                                        <a href="#" class="post-date">액션 모험 멜로</a>
                                        <a href="#" class="post-author">로사 살라자르, 크리스토프 왈츠</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="single-slide">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="https://movie-phinf.pstatic.net/20190118_146/1547795422217PI0cJ_JPEG/movie_image.jpg" alt="" style="
                                    width: 466px;
                                    height: 466px;"></a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content-bg" style="width: 220px; height: 260px;">
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Today's Movie</a>
                                    <a href="#" class="post-title"><font size="3px">증인</font></a>
                                    <div class="post-meta">
                                        <a href="#" class="post-date">드라마</a>
                                        <a href="#" class="post-author">정우성, 김향기</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Movie Area End ##### -->


    <!-- ##### meetup Area Start ##### -->
    <div class="post-catagory section-padding-100-0 mb-70">
        <div class="container">
            <div class="hero-area">
                <div class="hero-post-slides owl-carousel">
                    <!-- Single Slide -->
                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="#"><img src="https://splib.sen.go.kr/data/teach/h17/img/1547540967084" alt="" style="
                                width: 466px;
                                height: 466px;"></a>
                        </div>
                        <!-- Blog Content -->

                    </div>

                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="#"><img src="https://splib.sen.go.kr/data/teach/h17/img/1549617897860" alt="" style="
                                width: 466px;
                                height: 466px;"></a>
                        </div>
                        <!-- Blog Content -->
     
                    </div>


                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="#"><img src="https://splib.sen.go.kr/data/teach/h17/img/1547083552536" alt="" style="
                                width: 466px;
                                height: 466px;"></a>
                        </div>
                        <!-- Blog Content -->
                    </div>

                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="#"><img src="https://splib.sen.go.kr/data/teach/h17/img/1542774115351" alt="" style="
                                width: 466px;
                                height: 466px;"></a>
                        </div>
                        <!-- Blog Content -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ##### meetup Area End ##### -->


        <div></div>
        <div></div>
        <div></div>
 

    </div>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
                <hr>
            <div class="row">

                <div class="col-12 col-sm-5">
                    <!-- Copywrite Text -->

                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> Culture-Planner <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
                <div class="col-12 col-sm-7">
                    <!-- Footer Nav -->
                    <div class="footer-nav">
                        <ul>
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Recipes</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>