<!DOCTYPE html>
<html lang="ko">
{% load static %}
{% load widget_tweaks %}

<title>Sign Up</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<!--===============================================================================================-->
</head>




<body>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
      <form method="post" class="login100-form validate-form">
          {% csrf_token %}
        <span class="login100-form-title p-b-33">
          Sign Up
        </span>

        <div class="wrap-input100 validate-input">
            {{ form.username|attr:"class:input100"|attr:"placeholder:아이디(ID)" }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input">
            {{ form.email|attr:"class:input100"|attr:"placeholder:이메일 ex) test@test.com" }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input">
            {{ form.mName|attr:"class:input100"|attr:"placeholder:이름" }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input">
            {{ form.sex|attr:"class:input100"|attr:"placeholder:성별" }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input">
            {{ form.birth|attr:"class:input100"|attr:"placeholder:생년월일 ex) 19980101" }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input">
            {{ form.password1|attr:"class:input100"|attr:"placeholder:비밀번호" }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 validate-input">
            {{ form.password2|attr:"class:input100"|attr:"placeholder:비밀번호 확인" }}
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>



        <div class="container-login100-form-btn m-t-20">
          <button type="submit" class="login100-form-btn">
            Sign in
          </button>
        </div>


        </div>
      </form>
    </div>
  </div>
</div>



<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>






</html>