<!DOCTYPE html> 
<html lang="ko-KR"> 
<head> 
    <meta charset="utf-8"/> 
    <title>Books</title> 
</head>


<h1>bookpage</h1>

<div class="search_input">
    <form action="" method="get">
            <input type="text" class="text_query" name="query" id="query" value="{{ query }}" title="검색어 입력">  
            <input type="submit" class="btn_search" value="검색">
    </form>

</div>

{% csrf_token %}


<!-- 검색 결과 보여주는 테이블 코드-->
<div id = "books_list">
    {% for book in object_list %}
    <table class="type_list">
        <colgroup>
            <col width="91">
            <col width="200">
            <col width="120">
        </colgroup>
        <tbody>
            <tr>
                <td class="image">
                    <div class="cover">
                        <a href='{{ book.bImage }}'>
                            <img src='{{ book.bImage }}'>
                        </a>
                    </div>
                </td>
                
                <td class="detail">
                    <div class="title">{{ book.bName }}</div>		
                    <div class="author">{{ book.author }}</div>
                    <div class="publisher">{{ book.publisher }}</div>
                    <div class="publication_year">{{ book.publication_year }}</div>            			
                </td>
                
                <td class="info">
                    <div class="rating">평점을 매겨주세요</div>	
                </td>
            </tr> 
        </tbody>
    </table>
    {% endfor %}
</div>



<!-- 페이지 리모트 -->
<div id="page_remote">
    {% if is_paginated %}
    <nav>
        <ul class="pagination">
            <!--Previous-->
        {% if page_obj.has_previous %}
            <li>
            <a href="?page={{ page_obj.previous_page_number }}">
                <span>Prev</span>
            </a>
            </li>
        {% else %}
            <li class="disabled">
            <a href="#">
                <span>Previous</span>
            </a>
            </li>
        {% endif %}

            <!--page number-->
        {% for page in page_range %}
            <li {% if page == page_obj.number %}class="active"{% endif %}>
            <a href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

            <!--Next-->
        {% if page_obj.has_next %}
            <li>
            <a href="?page={{ page_obj.next_page_number }}">
                <span>Next</span>
            </a>
            </li>
        {% else %}
            <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
            <a href="#">
                <span>Next</span>
            </a>
            </li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>